# Core
app==0.0.1
numpy
pandas
scikit-learn
setuptools
tqdm
python-dotenv


# NLP / Vision
transformers
nltk
ftfy
langdetect
opencv-python-headless
Pillow
beautifulsoup4

# Deep Learning
torch
torchvision
tensorflow
torchmetrics
pytorch_lightning

# API
fastapi
uvicorn[standard]
python-multipart

# Authentication
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
jinja2

# DB
psycopg2-binary

# Tests
pytest
pytest-asyncio
httpx

# Streamlit
streamlit
plotly
altair

# Versionning
mlflow
dvc[s3]

# Monitoring
prometheus-fastapi-instrumentator

#Nginx

